{% extends 'layout.html' %}

{% block content %}
<div class="timeline">
    <form id="join-form" action="/auth/join" method="post">
        <div class="input-group">
            <label for="join-email">이메일</label>
            <input id="join-email" type="email" name="email"></div>
        <div class="input-group">
            <label for="join-nick">닉네임</label>
            <input id="join-nick" type="text" name="nick"></div>
        <div class="input-group">
            <label for="join-password">비밀번호</label>
            <input id="join-password" type="password" name="password"></div>
        <div class="input-group">
            <input type="radio" id="ManCity" name="team" value="ManCity">
            <label for="ManCity">ManCity</label>
            <input type="radio" id="Liverpool" name="team" value="Liverpool">
            <label for="Liverpool">Liverpool</label>
            <input type="radio" id="Arsenal" name="team" value="Arsenal">
            <label for="Arsenal">Arsenal</label><br>
            <input type="radio" id="Tottenham" name="team" value="Tottenham">
            <label for="Tottenham">Tottenham</label>
            <input type="radio" id="Aston" name="team" value="Aston">
            <label for="Aston">Aston Villa</label>
            <input type="radio" id="Newcastle" name="team" value="Newcastle">
            <label for="Newcastle">Newcastle United</label><br>
            <input type="radio" id="Chelsea" name="team" value="Chelsea">
            <label for="Chelsea">Chelsea</label>
            <input type="radio" id="Wolverhampton" name="team" value="Wolverhampton">
            <label for="Wolverhampton">Wolverhampton</label><br><br>
        </div>
        <button id="join-btn" type="submit" class="btn">회원가입</button>
    </form>
</div>
{% endblock %}

{% block script %}
<script>
    window.onload = () => {
        if (new URL(location.href).searchParams.get('error')) {
            alert('이미 존재하는 이메일입니다.');
        }
    };
</script>
{% endblock %}